<div class="corpo">
    <div class="card-body">
        corpo ta pegando veinho!
    </div>
  </div>  
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo illum natus recusandae laboriosam ipsam error voluptatum deserunt reprehenderit ipsa nisi odit, consequuntur animi molestiae? Repudiandae explicabo sint libero cumque ut?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias in nulla eum suscipit ratione et, quas ipsum aut fuga ullam officiis culpa quibusdam temporibus sint nisi a beatae impedit.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo error ipsam assumenda tempora debitis, rerum quas aliquid, ad omnis maxime dignissimos doloremque qui possimus necessitatibus ducimus architecto explicabo, asperiores sed?</p>
   